	/*
  	Flaticon icon font: Flaticon
  	Creation date: 26/10/2017 13:13
  	*/

@font-face {
  font-family: "Flaticon1";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon1";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

.flaticon-001-credit-card-15:before { content: "\f100"; }
.flaticon-002-credit-card-14:before { content: "\f101"; }
.flaticon-003-credit-card-13:before { content: "\f102"; }
.flaticon-004-credit-card-12:before { content: "\f103"; }
.flaticon-005-credit-card-11:before { content: "\f104"; }
.flaticon-006-credit-card-10:before { content: "\f105"; }
.flaticon-007-credit-card-9:before { content: "\f106"; }
.flaticon-008-credit-card-8:before { content: "\f107"; }
.flaticon-009-credit-card-7:before { content: "\f108"; }
.flaticon-010-credit-card-6:before { content: "\f109"; }
.flaticon-011-credit-card-5:before { content: "\f10a"; }
.flaticon-012-credit-card-4:before { content: "\f10b"; }
.flaticon-013-credit-card-3:before { content: "\f10c"; }
.flaticon-014-credit-card-2:before { content: "\f10d"; }
.flaticon-015-credit-card-1:before { content: "\f10e"; }
.flaticon-016-credit-card:before { content: "\f10f"; }